In [1]:
import pandas as pd
import numpy as np
from collections import Counter

In [2]:
df = pd.read_csv('loans.csv', nrows=200000)
df_keep_cols = df[['STATUS', 'DESCRIPTION_TRANSLATED', 'LOAN_USE', 'TAGS', 'REPAYMENT_INTERVAL']]

df_keep_cols.head()

,STATUS,DESCRIPTION_TRANSLATED,LOAN_USE,TAGS,REPAYMENT_INTERVAL
0,funded,NaN,to buy additional inventories for her sari-sa...,NaN,irregular
1,funded,"Idalia, 57, is married and lives with her husb...","To buy American clothing such as blouses, shir...",NaN,monthly
2,funded,NaN,"to buy stock of rice, sugar and flour","#Woman Owned Biz, #Supporting Family, user_fav...",monthly
3,funded,Gulmira is 36 years old and married. She and ...,"to buy cucumber and tomato seeds, as well as f...",user_favorite,monthly
4,funded,NaN,to buy organic fertilizer and agrochemical pr...,"#Animals, #Eco-friendly, #Sustainable Ag",bullet

In [ ]:
%matplotlib inline
import seaborn as sns
sns.set(style="darkgrid")
sns.countplot(x='DESCRIPTION_TRANSLATED', data=df)
#df.hist(column='DESCRIPTION_TRANSLATED');

In [ ]:
funded_status = df['STATUS'].values
funded_status_unique = np.unique(funded_status)
print(funded_status_unique)

funded_status_c = Counter(funded_status.tolist())

print(Counter(funded_status_c).keys()) # equals to list(set(words))
print(Counter(funded_status_c).values()) # counts the elements' frequency

cols = list(df)
for col in cols:
	print(col)

desc_trans = df['DESCRIPTION_TRANSLATED'].values

#print(df.isna().sum()['DESCRIPTION_TRANSLATED'])



#for d_t, fs in zip(desc_trans[:200], funded_status[:200]):
#	print(fs, d_t)